<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>GameScore</title>
    </head>
    <body>


        <div class="w3-bar w3-dark-grey w3-large shadow" th:fragment="main">           
            <a href="/" class="w3-bar-item w3-button w3-red logo"><i class="fa fa-th-list"></i> GameScore</a>
            <a href="/ping-pong" class="w3-bar-item w3-button w3-hide-small navbar-font"> Ping Pong</a>
            <a href="/novus" class="w3-bar-item w3-button w3-hide-small navbar-font">Novus</a>
            <a href="/football" class="w3-bar-item w3-button w3-hide-small navbar-font"><i class="fa fa-futbol-o"></i> Football</a>
            <a href="/pull-bar" class="w3-bar-item w3-button w3-hide-small navbar-font">Pull up bar</a>
            <a href="/press-bar" class="w3-bar-item w3-button w3-hide-small navbar-font">Press bar</a>
            <a href="/darts" class="w3-bar-item w3-button w3-hide-small navbar-font">Darts</a>
            <a href="/computer" class="w3-bar-item w3-button w3-hide-small navbar-font">Computer games</a>
            <a sec:authorize="not isAuthenticated()" href="/login" title="Log in" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font">
                <i class="fa fa-sign-in">
                </i>
            </a>
            <a sec:authorize="isAuthenticated()" href="/logout" th:title="'Log out - '+${#authentication.name}" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font">
                <i class="fa fa-sign-out"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font"><i class="fa fa-search"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font"><i class="fa fa-envelope"></i></a>
            <a href="/login" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font"><i class="fa fa-cog"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font"><i class="fa fa-bell"></i>&nbsp;<span class="w3-badge w3-small w3-red">8</span></a>

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
            <a href="/login" class="w3-bar-item w3-button w3-red w3-right w3-hide-small navbar-font" title="Add result"><i class="fa fa-plus"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small navbar-font" th:text="${currentUser.fullName}">Full name</a>
            
        </div>

        <!--        <div id="demo" class="w3-bar w3-light-grey w3-border w3-large" th:fragment="main">
                  <a href="#" class="w3-bar-item w3-button w3-light-blue" style="font-family: 'Rammetto One', cursive"><i class="fa fa-th-list"></i> GameScore</a>
                  <a href="#" class="w3-bar-item w3-button"> Ping Pong</a>
                  <a href="#" class="w3-bar-item w3-button">Novus</a>
                  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-futbol-o"></i> Football</a>
                  <a href="#" class="w3-bar-item w3-button">Pull up bar</a>
                  <a href="#" class="w3-bar-item w3-button">Press bar</a>
                  <a href="#" class="w3-bar-item w3-button">Darts</a>
                  <a href="#" class="w3-bar-item w3-button">Computer games</a>
                  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-sign-in"></i></a>
                  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
                  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-envelope"></i></a>
                  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-cog"></i></a>
                  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-bell"></i><span class="w3-badge w3-small w3-red"> 8</span></a>
                </div>
                
                <script>
                    function myFunction() {
                        var x = document.getElementById("demo");
                        if (x.className.indexOf("w3-show") == -1) {
                            x.className += " w3-show";
                        } else { 
                            x.className = x.className.replace(" w3-show", "");
                        }
                    }
                </script>-->

    </body>
</html>
