<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
    <head>
        <title>Darts</title>

    </head>
    <body>

        <div layout:fragment="content">
            <div class="t2-margin-top s s12 m4 l3">
                <table class="w3-table w3-table-all">
                    <tr>
                        <th class="w3-text-grey">Name</th>
                        <th class="w3-text-grey">Score</th>
                        <th class="w3-text-grey">Rank</th>
                        <th class="w3-text-grey">Attempt Count</th> 
                        <th class="w3-text-grey">Latest Result</th>
                        <th class="w3-text-grey">Invite/Challenge</th>


                    </tr>
                    <tr th:each="u : ${all}">
                        <td><a th:href="@{/manage/user(userId=${u.fullName})}"  th:text="${u.fullName}" ></a></td>
                        <td> <p th:text="${u.score}"></p> </td>
                        <td> <p th:text="${u.rank}"></p> </td>
                        <td> <p th:text="${u.gameCount}"></p> </td>
                        <td> <p th:text="${u.latestCount}"></p> </td>
                        <td><button>Challenge</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
