<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
    <head>
        <title>Darts</title>

    </head>
    <body>

        <div layout:fragment="content">
            <div class="t2-margin-top s s12 m4 l3">
                <table class="w3-table-all w3-hoverable result-table">
                    <tr>
                        <th class="w3-text-grey">Team Name</th>
                        <th class="w3-text-grey">Win Count</th>
                        <th class="w3-text-grey">Loss Count</th>
                        <th class="w3-text-grey">Game Count</th>                
                        <th class="w3-text-grey">Invite/Challenge</th>


                    </tr>
                    <tr th:each="r : ${results}">
                        <!--<td><a th:href="@{/manage/user(userId=${u.fullName})}"  th:text="${u.fullName}" ></a></td>-->
                        <td> <p th:text="${r.teamName}"></p> </td>
                        <td> <p th:text="${r.score}"></p> </td>
                        <td> <p th:text="Rank"></p> </td>
                        <td> <p th:text="GameCount"></p> </td>
                        <td><button class="w3-button w3-round w3-red">Challenge</button></td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </body>
</html>
