<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
    <head>
        <title>All Top</title>
    </head>
    <body>
        
        

        <div layout:fragment="content">
            
            <br></br>
            <br></br>
            <a href="/game/ping-pong">
                <img src="/assets/images/pingpong.jpg" class="w3-hover-opacity" style="width:33%"/>
            </a>
            <a href="/game/football">
             <img src="/assets/images/football.jpg" class="w3-hover-opacity" style="width:33%"/>
            </a>
            <a href="/game/novus">
                <img src="/assets/images/novus.jpg" class="w3-hover-opacity" style="width:33%"/>
            </a>
            <a href="/game/pull-up-bar">
                <img src="/assets/images/pullupbar.jpg" class="w3-hover-opacity" style="width:33%"/>
            </a>
            <a href="/game/darts">
                <img src="/assets/images/darts.jpg" class="w3-hover-opacity" style="width:33%"/>
            </a>
            <a href="/game/press-bar">
                <img src="/assets/images/pressbar.jpg" class="w3-hover-opacity" style="width:33%"/>
            </a>
            
            
<!--            <div class="t2-margin-top s s12 m4 l3">
                <table class="w3-table w3-table-all">
                    <tr>
                        <th class="w3-text-grey">Rank</th>
                        <th class="w3-text-grey">Name</th>
                        <th class="w3-text-grey">Score</th>                   
                        <th class="w3-text-grey">Game Count</th>
                        <th class="w3-text-grey">Win/Loss</th>
                        <th class="w3-text-grey">Total</th>
                        <th class="w3-text-grey">Disciplines</th>
                       


                    </tr>
                    <tr th:each="u : ${all}">
                        <td> <p th:text="${u.rank}"></p> </td>
                        <td><a th:href="@{/manage/user(userId=${u.fullName})}"  th:text="${u.fullName}" ></a></td>
                        <td> <p th:text="${u.score}"></p> </td>                        
                        <td> <p th:text="${u.gameCount}"></p> </td>
                        <td> <p th:text="${u.winLoss}"></p> </td>
                        <td> <p th:text="${u.totalGames}"></p> </td>
                        <td> <p th:text="${u.disciplines}"></p> </td>
                 
                    </tr>
                </table>
            </div>-->
        </div>
        
        
    </body>
</html>
