<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
    <head>
        <title>All Top</title>

    </head>
    <body>

        <div layout:fragment="content">
            <div class="w3-row w3-margin w3-centered">
                <div class="w3-display-container" sec:authorize="isAuthenticated()">
                    <div class="w3-panel w3-col m6 s12  w3-display-topmiddle" >
                        <div class="w3-panel  w3-center">
                            You're currently logged in as <span th:text="${#authentication.name}"></span>                   
                        </div>
                        <div class="w3-panel w3-center">
                            <a th:href="@{/logout}" class="w3-button w3-green">Log out</a>
                        </div>
                    </div>
                </div>
                <form sec:authorize="not isAuthenticated()" th:action="@{/login}" method="POST" class="w3-display-container">
                    <div class="w3-col m4 s12 w3-display-topmiddle">
                        <div class="w3-panel w3-red" th:if="${loginError}">Wrong user or password</div>
                        <div class="w3-panel">
                            <label>Username</label>
                            <input class="w3-input w3-bordered" type="text" name="username"/>

                            <label>Password</label>
                            <input class="w3-input w3-bordered" type="password" name="password"/>

                        </div>
                        <div class="w3-panel">
                            <button class="w3-col s6 w3-button w3-green" type="submit">Login</button>
                            <a class="w3-col s6 w3-button w3-red" th:href="@{/register}">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
